body {
    background: #325e01;
}

.stats-container {
    margin: 0 15px;
    padding: 80px 15px 15px 15px;
    box-shadow: 0 0 20px #00000099;
    border-radius: 10px;
    background: #fff;
}

.stats-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.stats-info p {
    width: 150px;
    height: 100px;
    text-align: center;
}
.stats-info.bigger p {
    width: 300px;
    height: 100px;
    text-align: center;
}

.stats-info p span {
    margin: 5px 0;
}

.stats-block h2 {
    font-size: 3rem;
    font-weight: 800;
    margin: 20px 5px 40px 5px;
    color: #7ad117;
    text-shadow: 1px 1px 2px #0009;
}

.stats-header {
    color: #f53b57;
    font-size: 1.3rem;
    font-weight: 700;
}

.stats-title {
    font-weight: bold;
}