<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ % block title % } { % endblock % }</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' )}}">
    <script src="https://kit.fontawesome.com/30735d7de8.js" crossorigin="anonymous"></script>
    {% block other_imports %} {% endblock %}
</head>

<body>
    <header class='header-container'>
        <a href="{{ url_for('index') }}">
            <div class="header-logo">
                <h1 class='header-logo__text'>O.N.G</h1>
            </div>
        </a>
        <div class="navbar">
            <nav class="nav-container">
                <ul class="nav-list">
                    <li class="nav-item active">
                        <a href="{{ url_for('index') }}">
                            <span class="nav-icon"><i class="fas fa-home"></i></span>
                            <span class="nav-text">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('barrio') }}">
                            <span class="nav-icon"><i class="fas fa-list"></i></span>
                            <span class="nav-text">Barrio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('estadistica') }}">
                            <span class="nav-icon"><i class="fas fa-chart-bar"></i></span>
                            <span class="nav-text">Estad.</span>
                        </a>
                    </li>
                    <div class="indicator"></div>
                </ul>
            </nav>
            <div class="nav-login-container">
                <a href="{{ url_for('login') }}">
                    <div class="nav-login-item">Sign in</div>
                </a>
                <a href="{{ url_for('sign_in') }}">
                    <div class="nav-login-item">Register</div>
                </a>
            </div>
            <div class="hamburger">
                <div class="hamburger__icon"></div>
            </div>
        </div>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock %}

    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>

</html>