{% extends 'base.html' %} 

{% block title %} 
    O.N.G - Estadísticas 
{% endblock title %} 

{% block other_imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stats_style.css') }}"> 
{% endblock other_imports %} 

{% block stats_active %}
    active
{% endblock stats_active %}

{% block content %}
<div class="stats-container">
    <div class="stats-block">
        <h2>Paquetes y familias segun provincia</h2>
        <div class="stats-info">
            {% for provincia, _, familias, paquetes in data %}
            <p>
                <span class="stats-header">{{ provincia[0] }}</span>
                <br>
                <span class="stats-title">Familias:</span>
                <span class="stats-data">{{ familias }}</span>
                <br>
                <span class="stats-title">Paquetes:</span>
                <span class="stats-data">{{ paquetes }}</span>
            </p>
            {% endfor %}
        </div>
    </div>

    <div class="stats-block">
        <h2>Menos recompensados</h2>
        <div class="stats-info bigger">
            {% for nombre, proporcion in least_rewarded %}
            <p>
                <span class="stats-header">{{ nombre }}</span>
                <br>
                <span class="stats-title">Proporción:</span>
                <span class="stats-data">{{ proporcion }}</span> 
            </p>
            {% endfor %}
        </div>
    </div>
    {% endblock content %}